/* FONT FOR HEADINGS THAT MATCHES LOGO, PLS DONT TOUCH */
@font-face {
    font-family: Gagalin ;
    src: url(gagalin-font/Gagalin-Regular.woff2) format('woff2'),
    url(gagalin-font/Gagalin-Regular.woff) format('woff');        
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Our colour palette is 
    backgrounds: either white or #edeed7
    here's the rest, they're from the logo: #108ea6, #175170, #fcbd55, #31c082, #fa5d43, #d88375
    choose one for whatever you want really, we just have to keep it consistent.*/

/* RECIPE MASTER */
.header-logo {
    max-height: 300px;
    min-width: 500px;
    background-color: #edeed7;
    margin-bottom: 10px;
    margin-top: 0px;
}
.nav-bar ul{
    list-style-type: none;
    font-family: gagalin;
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    top: 0px;
    font-size: x-large;
    display: inline;
    background-color: #edeed7;
    position:sticky;
}
    li a:link{
        text-decoration: none;
        color: #108ea6;
        display: block;
        padding: 5px;
        float: left;
        background-color: #edeed7;
        }

/* HOME PAGE */
/* MAP PAGE */
/* CONTACT US */