/* FONT FOR HEADINGS THAT MATCHES LOGO, PLS DONT TOUCH */

@font-face {
    font-family: Gagalin ;
    src: url(gagalin-font/Gagalin-Regular.woff2) format('woff2'),
    url(gagalin-font/Gagalin-Regular.woff) format('woff');        
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Our colour palette is 
    backgrounds: either white or #edeed7
    here's the rest, they're from the logo: #108ea6, #175170, #fcbd55, #31c082, #fa5d43, #d88375
    choose one for whatever you want really, we just have to keep it consistent.*/

body{
    background-color:#d88375;
    opacity: 0.8
}

p{
    color: black;
    text-decoration: bold;
    font-style: italic;
  }

  
  img{
    border: 4px solid black;
    border-radius: 30px;
  }
  
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }
  
div.gallery:hover {
    border: 10px solid rgb(97, 94, 94);
}

.header-logo {
    max-height: 300px;
    min-width: 500px;
    background-color: #edeed7;
    margin-bottom: 10px;
    margin-top: 0px;
}
.nav-bar ul{
    list-style-type: none;
    font-family: gagalin;
    margin-top: 0px;
    padding: 0px;
    top: 0px;
    font-size: x-large;
    display: inline;
    background-color: #edeed7;
    position: sticky;
}
    li a:link{
        text-decoration: none;
        color: #108ea6;
        display: block;
        padding: 5px;
        float: left;
        background-color: #edeed7;
        }

/* HOME PAGE */
/* MAP PAGE */
/* CONTACT US */